html, body {
  margin: 0px;
  padding: 0px;
    font-family: sans-serif;
    outline: none;
    overflow: hidden;
    cursor:url(normal.png), default;	
/*    background: ;*/
/*    color : white;*/
}
body::-webkit-scrollbar{
    display : nonse;
}

button{
    cursor:url(btn.png), default;	
    outline: none;
}

.lef{
    position: fixed;
    left  :0;
    border-right: 2px solid #e7e9ed;
    height : 100vh;
    padding-left : 1vw;
    padding-right : 2vw;
    background: rgba(0,0,0,0.015);
    cursor: url(normal.cur)
/*    min-width: 2vw;*/
}
.byDate{
    margin-top: 20vh;
    background: blue
}
.hd{
    display: none;
    background: red;
}

.logo{
    margin-top: 4vh;
    font-size: 18px;
}

.pp{
    margin-top: 3vh;
    font-size: 18px;
/*    width : 60%;*/
    background: transparent;
/*    margin-left: 8vw;*/
    border : 0px;
    padding : 1vh;
    border-radius: 20px;
    color :gray;
    background-size: 20%;

}


.god{
    margin-top: -2vh;
    background: none;
    height : 105vh;
    overflow: scroll;
}

.god::-webkit-scrollbar{
    display: none;
}
.pp1{
    margin-top: -5px;
    font-size: 18px;
    padding : 4px;
/*    width : 60%;*/
    background: purple;
    color : white;
/*    margin-left: 8vw;*/
    border : 0px;
    padding : 1vh;
    border-radius: 20px;
    color :white;
    background-size: 20%;
    transition: .5s;
outline: none;
}
.slid{
   background: #e7e9ed;
    width : 4vw;
    position: fixed;
    border-radius: 20px;
    height : 3vh;
    display: inline-block;
/*    margin-left: 70vw;*/
    bottom : 0;
    left : 0;
    margin-left : 2vw;
    margin-bottom: 8vh;
}
.pp1:hover{
    color : black;
    background: white;
}

.top{
   margin-top: 3vh;
 margin-left: 12vw; 
}
#dy{
    display: none;
}
.pp:hover{
/*background : (black;*/
/*    border : 2px solid black;    */
    opacity: .5;
    border-radius: 0px;
    background: red;
    outline : none;
}

#nam{
    margin-top: -2vh;
    padding : 1vh;
    padding-top : 8vh;
    font-size: 3vw;
    position: fixed;
    background: white;
    width : 100%;
    text-align: left;
    padding-top : 15vh;
    top : 0;
    transition: .2s ease-in-out;
/*    margin-top: 0px;*/
}

.pp{
    position: fixed;
    margin-top: 2vh;
    z-index: 500;
}


.add{
    background: black;
    color : white;
    font-size: 35px;
    font-weight: lighter;
    border-radius: 40px;
    width : 80%;
    height : 7vh;
    border : 0px;
    margin-top: 6vh;
    margin-left: 10%;
    transition: .2s;
        border : 2px solid black;
    outline : none;
}



.add:active{
    transform: rotate(180deg);
/*    margin-top: 6vh;*/
/*    background: */
}

.cl{
    width : 15px;
    height : 15px;
    margin-top: 3vh;
    border : 0px;
    border-radius: 30px;
    background: red;
}

.cl1{
    background: #ffc972;
        margin-top: 2vh;
}

.cl2{
    background: #ff9b73;
}

.cl3{
    background: #b692fe;
}
.cl4{
    background: #01d4ff;
}
.cl5{
    background: #e4ee90;
}

.pallet{
  width : 100%; 
    margin-top: 2vh;
    height : 1vh;
    overflow: hidden;
    transition: .5s;
}

.pallet:active{
/*    background: red;*/
        height : 80vh;
}

.bfg{
    width : 100vw;
    height : 100vh;
    background: rgba(0,0,0,0.9);
    z-index: 5;
    position: absolute;
    top : 0;
    display: none;
}

.name{
    width : 50vw;
    height : 50vh;
    background: white;
    margin-top: 25vh;  
    border-radius: 20px; 
    -webkit-animation-name : max;
    -webkit-animation-duration : 1s;
}
.nams{
    margin-left: 5%;
    width : 80%;
    background: light   gray;
    border : 0px;
    font-size: 20px;
    padding : 1vh;  
    outline: none;
    margin-top: 4vh;
/*    padding-top: 60px;*/
}
.hd{
    padding-top : 15%;
}
.dpp{
    margin-left: 40%;
    border-radius: 0px;
    height : 96%;
        margin-top: 5%;
display: inline-block;
/*    background: red;*/
    width : 60%;
    display: inline-block;
/*    margin-top: -130vh;*/
    margin-top: -100%;
}

.im{
    width : 40%;
/*    background: red;*/
    margin-left: -60%;
    height : 100%;
    border-radius: 20px;
    border-right : 1px solid gray;
    border-bottom-right-radius: 0px;
        border-top-right-radius: 0px;

/*    overflow: hidde   n;*/
/*        background: blue;   */

}

#im{
    margin-left: -65%;;
    margin-top: -20%;
}
.s{
/*    padding-top: 40%;*/
        margin-top: -80%;

}
.mc{
    width : 80%;
    color : #555555;
}
@keyframes max{
    from{width : 0px;height :0px }
    to{width : 50vw;height : 50vh}
}

@keyframes max1{
    from{height :0px; opacity : 0 }
    to{height : 35%; opacity : 1}
}

.wrapper{
/*    background: red;*/
    width : 90vw;
/*    height : 70vh;*/
    margin-left: 10.2vw;
/*    overflow: scroll;*/
/*    display: table-cell;*/
  vertical-align: bottom;
}
    .wrapper{

            -webkit-column-count: 2;

  -moz-column-count:2;

  column-count: 2;

          -webkit-column-gap: 1em;

  -moz-column-gap: 1em;

  column-gap: -100vw;

    }




.catB{
    width : 100vw;
    background: rgba(0,0,0,0.5);
    height : 102vh;
    position: absolute;
    top : 0;
    z-index: 10;
    display : none;
}

.cPan{
    margin-top: 30vh;
    height : 28vh;
    background: white;
    width : 80%;
    margin-left: 8%;
    border-radius: 10px;
    padding : 2vh;
    -webkit-animation-name : disc;
    -webkit-animation-duration : 1;
    
}

@keyframes disc{
    from{margin-top: -50vh}
    to{
        margin-top: 30vh;
    }
}
.clrss{
    width : 14%;
    height : 25%;
    background: red;
    border-radius: 900px;
    border : 2px solid #f7f7f7;
    display: inline-block;
    margin-left: 3%;
}
.ma{
    font-size: 4vw;
    font-weight: 700;
}
.kakhor{
    font-size: 20px;
    background: none;
    margin-left: 20%;
    border : 0px;
}

.kakhor:hover{
    background: #f7f7f7;
    color : dodgerblue;
}

.tp{
    padding-bottom : 4vh;
}
.haedinq{
    text-align: left;
/*    background: red;*/
    margin-left: -35vw;
    margin-top: 6vh;
    font-size: 30px;
/*    padding-bottom: 5vh;*/
}
.hghj{
    background: #252525;
    
    padding-top : 1vh;
    width : 90vw;
    padding-right : 2vw;
    border-radius: 10px;
    margin-left: 4vw;
}

.wrapper::-webkit-scrollbar{
    display : none;
}   
.note{
    width : 20vw;
    padding : 1vw;
/*        padding-bottom : 4vw;*/
/*position: sticky*/
    margin-left: 2%;
/*    display:inline-block;*/
    border-radius: 2vw;
    font-size: 17px;
    border : 0px;
    border : none;
    margin-top: 2vh;
    text-align: left;
/*    font-weight: 700;*/
/*    line-height: 22px;*/
     -webkit-animation-name : max1;
    -webkit-animation-duration : .8s;
/*    transition: .1s*/
   word-wrap: break-word;
/*    overflow: */
    outline:none;
    height : 0%;
    transition: .5s ease-in-out;
        cursor:url(normal.png), default;	
/*    height : 35vh;*/

}
.note:hover{
/*    position: absolute;*/
/*    width : 40%;*/
/*    height  :50vh;*/
/*
    left : 0; 
    z-index : 5; 
    margin-left : 30%; 
    top : 0; 
    margin-top: 30vh;
*/
}


@keyframes in-top{
    from{height : 0px; opacity : 0;margin-left :0px;margin-top : 0px}
    to{height : 35%; opacity : 1;margin-left :40%;margin-top : 19vh}
}

.note:active{

    
}

.dsd{
    width : 100%;
    height : 100%;
    background: red;
    position: absolute;
    z-index: 5;
    bottom : 0;
    outline: none;
    left : 0;
    border: 0px;
     -webkit-animation-name : in-left;
    -webkit-animation-duration : .8s;
    display: none;
}

.nothing{
    width : 50%;
/*    padding : 2vh;*/
        padding-bottom : 4vh;

    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,.1);
/*    margin-left: 13%;*/
    margin-top: 20px;
    display : none
}

.erms{
    margin-top: -3vh;
/*        color :  #858585;*/
    font-size: 18px;
    width : 80%;
    margin-left: 10%;
    line-height: 23px;

}

.abi{
    font-size: 60px;
}

@keyframes in-left{
    from{height : 0px; opacity : 0;width : 0px; border-radius : 20px}
    to{height : 100%; opacity : 1;width : 100vw; border-radius : 40px}
}

.ipdp{
    width : 60vw;
    height : 50vh;
   font-size: 20px;
    resize: none;
    border : 0px;
    background: white;
/*   margin-left: 20vw;*/
/*    margin-top: 25vh;*/
    outline : none;
    font-family: sans-serif;
/*    border-radius: 20px;*/
    
}

.parent{
/*    padding : 10px;*/
    background: white;
    width : 62vw;
    height : 52vh;
    padding : 1vw;
    margin-left: 20vw;
    margin-top: 25vh;
    outline : 2px soild black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

#of{
/*    position: absolute;*/
    background: white;
    font-size: 20px;
    width : 10%;
    text-align: center;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 2px;
    margin-left: -1vw;

}
.thanks{
    position: absolute;
/*    background: red;*/
    height : 32vh;
    width : 18%;
    margin-top: -32vh;
    margin-left: 0%;
    color : transparent;
        cursor:url(normalW.png), default;	

/*    background: transparent;*/
}

.wrapper{
    margin-top: 20vh;

}



.load{
/*    display: none;*/
}
.addText{
    font-size: 20px;
    width : 20%;
    margin-left: 85%;
    height : 10vh;
    border : 0px;
    background: black;
    color: white;
    border-radius: 20px;    
    margin-top: -105vh;
    min-width: 100px;
}
.ipdp::placeholder{
    color : black;
}



.jij{
    width : 60%;
    padding : 1.5vh;
    font-size: 4vw;
    color : white;
    background: black;
    border : 0px;
    border-radius: 10px;
    
}
.dtext{
/*    text-align: right;*/
    width : fit-content;
    color : #454545;
    margin-left: 2vw;
/*    padding-bottom: 100vh;*/
/*    font-weight: 600;*/
/*    background: blue;*/
}

.editB{
    display: inline-block;
    margin-top: 44vh;
    margin-left: -8vw;
    padding : 2vw;
    padding-left : 2vw;
    padding-right : 2vw;
    position: absolute;
    font-size: 20px;
    background: black;
    border-radius: 90px;
    border : 0px;
    z-index: 15;
    color  : white;

}
 #prof{
        display: none;
     -webkit-animation-name : in-topa;
     -webkit-animation-duration : 1s;
    }

@keyframes in-topa{
    from{
        margin-top: -100vh;
        opacity : 0;
    }
     to{
        margin-top: 0vh;
        opacity : 1;
    }
}
.editA{
    display: inline-block;
    margin-top: 28.5vh;
    margin-left: -4vw;
    padding : 2vw;
    padding-left : 2vw;
    padding-right : 2vw;
    position: absolute;
    font-size: 20px;
    background: black;
    border-radius: 90px;
    border : 0px;
    z-index: 15;
    color  : white;

}

.load{
/*    position: absolute ;*/
/*    top : 0;*/
    height : 80%;
    width  :10;
/*    background: rgba(0,0,0,.1);*/
/*    display: none;*/
    z-index: 50;
}
  .bapuji{
        position: fixed;
        top : 0;
        left : 0;
        width : 100vw;
        height : 100vh;
        background: rgba(0,0,0,0.5)
    }
.pre{
        margin-top: 10vw;

    width : .10%;
}
 #conta{
        color : black;
                font-size: 25px;
        margin-top: -4vh;
        height : 70%;
        overflow: scroll;
/*     background: red;*/
    }
    
    #conta::-webkit-scrollbar{
        display: none;
    }
    .mtext{

        font-weight: 700;

    }

#tits{
    margin-top: -2vh;
}

.pata{
    font-size: 30px;
    color : white;
    background: black;
    border : none;
    display: inline-block;
    margin-left: 89%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

}
.tata{
    font-size: 15px;
    color : white;
    background: black;
    border : none;
    position: absolute;
    display: inline-block;
    margin-left: -1vw;
/*    margin-top: -2vh;*/
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;    
    padding: 1.6vh;
/*        padding-top: 2vh;*/

}

.tata:hover{
    background: red;
}
.pata:hover{
    background: blue;
}
.bapuji{
    z-index: 100;
    display: none;
}

 #op{
      margin-left: 5vw;   
    }
@media screen and (min-width : 749px){

    
   #tits{
        font-size: 40px;
    }
   
    .fpc{
        width : 30%;
        background: royalblue;
        color : white;
        position: absolute;
        top : 0;
        z-index: 15;
        padding-left: 5vw;
        padding-right: 5vw;
    margin-left: 35vw;
        height : 60.6vh;
        border-radius: 20px;
        margin-top: 18vh;
/*        -webkit-animation-name : oneU;*/
        -webkit-animation-duration : .8s;
        display: none;
    } 
    
  
}
@media screen and (max-width : 420px){
 .pp{
 margin-left: 15vw;
/*     color: red*/
  }
    
    .add{
        width : 55px;
                height : 55px;

    }
  
    .ntext::after{
/*    content:"...";*/
    font-size: 25px;
/*    position: absolute;*/
    margin-top: -5px;
}
}
@media screen and (max-width : 748px){
@media screen and (min-width : 420px){
    .pre{
    margin-top: 35vw;
}

  
    .pp{
 margin-left: 4vw;
/*     color: red*/
  }
      .add{
        width : 60px;
        height : 60px;
        max-height: 100px;
        font-size: 15em;

    }
        #nam{

    font-size: 11vw;

}

}
}
@media screen and (max-width : 908px){
  
    #op{
      margin-right: 15vw;   
    }
    .pre{
    margin-top: 15vw;
    width : 20%;
}
    .manage{
    width : 100%;
}
  
    .mtext{
/*        height : fit-content;*/
        width  : 90%;
/*        background: red;*/
        font-weight: 700;
        margin-left: 5%;
        overflow: hidden;
        font-size: 4vw;
    }

    .note:s{
/*    position: absolute;*/
    top : 0;
    width : 94%;
    height : 70vh;
    left : 0;
}
    .pre{
    margin-top: 35vw;
}
    .delete{
        margin-left: 30%;
        margin-top: -4vh;
        padding : 1.5vh;
        border-radius: 300px;
        background: black;
        color  : white;
        font-size: 3.5vw;
        border : 0px;
        position: absolute;
    }
  
    
    .wrapper{
        
        margin-left: 0vw;
        WIDTH : 100VW;
        margin-top: -3vh;
/*        height : 80vh;*/
        overflow: scroll;
    }
    .nothing{
        margin-top: 10vh;
        color : red;
        width : 70%;
                background: white;

    }
    #nam{
/*        margin-left: 5vw;*/
        font-size: 8vw;
        width: 100%;
        margin-left: -10VW;
        margin-top: 2vh;
    }
    
    .lef{
        position: fixed;
        top : 0;
        width : 100%;
        height : 8vh;
        border-bottom : 2px solid #e7e9ed;
        overflow: #e1e1e1;
        background: white;
    }
    
    
    
    .logo{
        width : 10%;
        margin-left: -85vw;
        margin-top: 3vh;
    }
 

    
    
    
    
    .pp{
        margin-top:  2vh;
        z-index: 5;
        position: absolute;
        top : 0;
/*        margin-left: 5vw;*/
    }
      .lef, #nam{
        
        z-index: 4;
        position: absolute;
       
/*        margin-left: 5vw;*/
    }
    
    .pallet{
        height: 0vh;
/*        z-index: 5;*/
        position: absolute;
      margin-top: 60vh;
        padding-left : 2vw;
                padding-right : 2vw;
        z-index: 50;
/*        cursor: none;*/
/*        padding-bottom : 8vh;*/
        background: rgba(0,0,0,0.8);
        width : fit-content;
        left : 0;
        border-radius: 20vw;
        margin-left: 9vw;
            transition : .5s;
                transform : rotate(90deg)
    }
    
    .slid{
       position: fixed;
        top : 0;
        margin: 2vh;
        margin-right: 6vh;
margin-left: 90vw;
        right : 0;
    }
    
    .hd{
    padding-top : 0%;
}
    .logo,.slid{
        display : none;
    }

   
    .lef{
        height  :0px
    }
    .wrapper{
        margin-left: 2vw;
/*        height : 985vh;*/
/*        background: black;*/
    }
    
    .pp{
        position: absolute;
        right : 0;
        margin: 2vh;
        margin-top: 4vh;
        font-size: 4vw;
        background: #3b3b3b;
                padding : 2vw;
        padding-left : 2vw;
        padding-right : 2vw;
border-radius: 5px;
    }
    
    .pp:hover{
        
    }
    
    .thanks{
    position: absolute;;
    background: transparent;
/*            background: red;*/
/*opacity: .05;*/
    height : 28vh;
    width : 42%;
            margin-top: -31vh;
/*flex: initial;*/
/*        z-index: 1;*/
/*        top : 0;*/
/*    background: transparent;*/
}
    
  
    
   
    
    .parent{
        position: absolute;
        margin-top: 2vh;
        margin-left: 3%;
        width : 90%;
        height : 90%; 
        border-radius: 0px
    }
    
    .jhajha{
        width : 100%;
        font-size: 30px;
        border : 0px;
        margin-left: -5px;
        outline : 0px;
        background : transparent;
        transition: 1.5s;
        font-weight: 700;
    }
    .jhajha:focus{
                border-bottom: 1px solid gray;

    }
    .jhajha::placeholder{
/*        color : black;*/
        font-weight: lighter;
    }
    
    .ipdp{
        margin-top: 1vh;
        width : 100%;
        background : transparent;
        height : 80vh;
       
    }
    .addText{
        margin-left: 60vw;
/*        position: fixed;*/
        position: sticky;
            min-height: 50px;
        padding: 0px;
        padding-left: 1vw;
        padding-right: 1vw;
        
    }
    .ipdp::-webkit-scrollbar{
        display : none;
    }
    .ipdp::placeholder{
        color : gray;
    }
    #nam{
/*    margin-top: 7   vh;*/
    padding : 1vh;
    font-size: 8vw;
    position: fixed;
    background: white;
    width : 100%;
    text-align: left;
    padding-top : 2vh;
    top : 0;
    margin-top: 0px;
}
    
    .wrapper{
        margin-top: 11vh;
    }
    
    .pp{
        position: fixed;
        margin-top: 2vh;
        margin-right: 4vw; 
    }
    .add{
/*        width : 8vw;*/
/*        height : 6vh;*/
        font-size: 22px;
        position: fixed;
/*        margin-top: 60vh;*/
        z-index: 5;
        right : 0;
        margin: 4vw;
/*       margin-top: 80vh;*/
        border : 0px;
        bottom : 0;
        position: fixed;
        transform: rotate(180deg);
/*        background: red;*/
            font-size: 8vw;
    }
    
    .pp:hover >::after{
        content : "   Filter";
/*        background: black;*/
/*        height : */
    
    }
    
    .fpc{
        width : 60%;
        height : 55vh;
        background: royalblue;
        color : white;
        position: absolute;
        top : 0;
        margin-top: 22.5vh;
        z-index: 101;
        padding-left: 5vw;
        padding-right: 5vw;
        border-radius: 20px;
        margin-left: 15%;;
/*        -webkit-animation-name : oneU;*/
        -webkit-animation-duration : .8s;
        display: none;
    }  
    
    #conta{
        color : black;
                font-size: 25px;
        margin-top: -4vh;
        height : 70%;
        overflow: scroll;
    }
    .newText{
       color : black;
        font-size: 25px;
        margin-top: -4.3vh;
        margin-left: -2px;
        height : 70%;  
        border : 0px;
        background: rgba(255,255,255,0.1);
        font-family: sans-serif;
        outline : none;
        border-radius: 10px;
    }
    
    .ntext:focus{
        border : 1px solid gray;
    }
    
    #tits{
        font-size: 40px;
        font-weight: 700;
    }
    
    .thanks:hover{
/*        background: blue*/
    }
    .thanks:hover{
/*        background: red;*/
    }
      .profile{
        position: absolute;
        top : 0;
        background: #f9f9ff;
          z-index: 50;
          width : 100%;
          height : 100vh;
    }
    
    .mp{
        background: white;
        padding-bottom : 5vh;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding-left : 4vw;
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,.1)
    }
    
    .circle{
        background: hotpink;
/*        margin-left: 40%;*/
        width : 14vw;
        height : 10vh;
        margin-top: -8vh;
            border-radius: 100vw;
    }
    #babare{
        margin-top: 2vh;
        margin-left: 1vw;
    }
    
    .back{
        background: none;
        border : 0px;
        font-size: 15px;
        margin-top: 2vh;
/*        color : #FAFBFD*/
    }
    .Details{
        width : 100%;
        text-align: center;
    }
    
    #emil{
        margin-top: -1vh;
    }
    #place{
        margin-top: -1vh;
    }
    
    .stats{
        width : 100%;
        margin-left: 5vw;
        margin-top: -1vh;
        text-align: left;
    }
    
    .inli{
        display: inline;
        margin-left: 20vw;
        padding-bottom: 200px;
    }
    
    .laure{
        margin-left: 22vw;
                display: inline;
    }
    .lauren{
        margin-left: 26.5vw;
        display: inline-block;
        margin-top: -2vh
    }
    
    .rape{
/*        background: rgba(0,0,0,0.05);*/
        width : 100vw;
        height : 36vh;
        margin-top: 1vh;
        overflow: hidden;
        white-space: none;
        margin-left: 2vw;
            
    }
    
    .rape::-webkit:-scrollbar{
        display : none;
    }
    
   
    .ntext{
        width  : 90%;
/*        background: blue;*/
        height: fit-content;
      position: relative;
        margin-left: 2vw;
        
    }
    .wrapper{
            -webkit-column-count: 2;
  -moz-column-count:2;
  column-count: 2;
          -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: -100vw;
    }
    .note{
        width : 44vw;
        height : fit-content;
        margin-left: 0px;
    }
    
    .kk{
        background: none;
        border : none;
        display: inline;
        font-size: 40px;
        position: absolute;
        margin-left: 70%;
        margin-top: -12%
    }
    
}


@keyframes oneU{
    from{
        opacity: 0;
        width : 0px;
        height : 0vh;
        margin-top : 0vh;
        margin-left : 0vw
    }
    to{
        opacity: 1;
        width : 60vw;
        height : 50vh;
        margin : 22.5vh;
        margin-left : 15%;
    }
    
  
}



